.container {
    width: 1000px;
    border: 2px black solid; 
    height: 560px;
    margin: auto;   
}
.header {
    width: 60%;
    margin: auto;
}
h1 {
    width: 89%;
    margin: auto;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0px;
}
.para {
    font-size: 16px;
    height: 331px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: 5px;
}
.main-content {
    width: 100%;
}
h2 {
    width: 15%;
    margin-left: 10px;
}
.paragraph {
    width: 52%;
    display: inline-block;
    border: 2px #000000 solid;
    margin: 2%;
    height: 344px;
    margin-bottom: 18px;
    vertical-align: top; 
}
.image {
    display: inline-block;
    width: 36%;
    border: 2px #000000 solid;
    margin: 2%;
    height: 346px;
}
.image-position {
    margin-top: 35px;
    margin-left: 42px;
}