.container {
    width: 1000px;
    margin: auto;
    border: 2px black solid;    
}
.company-intro {
    width: 60%;
    margin: auto;
}
img {
    display: inline-block;
}
h1 {
    width: 79%;
    display: inline-block;
    vertical-align: top;
}
.address-details { 
    width: 90%;
    margin: 42px;
    background-color: lightgray;
}
h1 {
    margin-left: 55px;
}


