.container {
    width: 1000px;
    margin: auto;
    border: 2px black solid;   
}
h1 {
    display: inline-block;
    vertical-align: top;
}
.header {
    width: 50%;
    margin: auto;
}
.main-content {
    width: 100%;
}
.company-introduction {
    width: 60%;
    border: 2px #000000 dashed;
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 10px;
}
.company-information {
    width: 30%;
    border: 2px #000000 solid;
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
    height: 335px;
}
p {
    width: 75%;
    height: 250px;
    margin-left: 13%;
    border: 3px black solid;
    font-size: 22px;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
h2 {
    width: 22%;
    margin: auto;
    margin-top: 10px;
}
ul {
    list-style: none;
    margin-left: 75px;
    width: 24%;
    margin-top: 88px;

}
li {
    margin-bottom: 25px;
}
a:active {
    background-color: #ff00000;
}