.container {
    width: 1000px;
    border: 2px #000000 solid;
    background-color: darkslategrey;
    margin: auto;
}
.first-part, .fourth-part {
    width: 93.5%;
    height: 80px;
    margin: auto;
    background-color: white;
    margin-top: 20px;

}
.second-part {
    width:100%;
    display: inline-block;
}
.rect-1, .rect-2, .rect-3, .rect-4 {
    width: 18%;
    height: 90px;
    background-color: white;
    display: inline-block;
    margin: 32.81px;
}
.big-rect {
    width: 43%;
    height: 248px;
    background-color: white;
    margin-left: 32.81px;
    margin-right: 32.81px;
    display: inline-block;
    margin-bottom: 31px;
}
.fourth-part {
    margin-top: 20px;
    margin-bottom: 20px;
}
.rect-7, .rect-8 {
    width: 53%;
    height: 90px;
    background-color: white;
    display: inline-block;
    margin: 32.81px;
    margin-left: 138px;
}
.rect-5, .rect-6 {
    width: 135%;
    height: 90px;
    background-color: white;
    display: inline-block;
    margin: 32.81px;
}
.aside-rect, .row-1, .row-2 {
    display: inline-block;
}