.container {
    width: 1000px;
    border: 2px #000000 solid;
    margin: auto;
}
.main-content {
    background-color: cyan;
    height: 40px;
    width: 100%;
}
span {
    margin: 10px;
    font-size: 25px;
}
.title-info {
    width: 60%;
    height: 328px;
    display: inline-block;
    background-color: limegreen;
    vertical-align: top;
}
.description {
    width: 39%;
    display: inline-block;
    background-color: pink;
    height: 328px;
}
.title-1, .title-2 {
    margin-top: 15px;
    background-color: wheat;
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
}