.container {
    width: 1200px;
}
.main {
    width: 100%;
}
hr {
    width: 100%;
    height:2px;
    background-color: black;
    border: black;
}
.labels {
    width: 100%;
}
.labelForm1 {
    margin-left: 10px;
}
.labelForm2 {
    vertical-align: 5px;
    margin-left: 11px;
}
.recent {
    width: 100%;
}
.imageLabel {
    width: 22%;
    display: inline-block;
}
.imageAdj {
    vertical-align: 18px;
}
.modiTrump {
    margin-left: 100px;
}
.para1 {
    width: 45%;
    margin-top: 60px;
    display: inline-block;
}
.delhiBorder {
    width: 37%;
    margin-left: 170px;
    display: inline-block;
}
.kejriwal {
    margin-left: 40px;
}
.sportsHr {
    width: 100%;
    height:2px;
    background-color: lightsalmon;
    border: black;   
}
.sports {
    display: inline-block;
    width: 30%;
    background-color: gray;
}
.hairLoss {
    display: inline-block;
    width: 69%;
}
.hair {
    margin-left: 200px;
}
.column1, .column2, .column3, .column4, .column5 {
    width: 24%;
    display: inline-block;
}
.row1, .row2, .row3, .row4 {
    width: 100%;
}
.set {
    display: inline-block;
    width: 50%;
}
.set0 {
    display: inline-block;
    width: 42%;
}
.cricketNews {
    border: rgb(28, 94, 216) 2px solid;
}
.column5 {
    vertical-align: top;
    margin-top: 130px;

}
.margin {
    margin-top: 40px;
}
.vl {
    width: 2px;
    height:360px;
    background-color:grey;
    border: black;   
    display: inline-block;
}
.india,.world,.bhuvi,.reliance {
    width: 22%;
    display: inline-block;
}
.india, .world, .reliance, .bhuvi {
    margin-left: 20px;
}
.reliance, .india {
    vertical-align: top;
}