.container {
    background-color: black;
    width: 800px;
    margin: auto;
}
.first {
    
    width: 100%;
    
}
.a, .b {
    width: 94%;
    height: 348px;
    background-color: snow;
    margin: 5px;
    margin-bottom: 17px;
}
.c {
    width: 72%;
    height: 710px;
    background-color: red;
    display: inline-block;
    margin: 6px;
    margin-bottom: 15px;

}
.ab {
    display: inline-block;
    width: 24%;
}
.second {
    width: 100%;
    height: 190px;
}
.A {
    width: 22%;
    height: 174px;
    background-color: blue;
    /* margin: 5px; */
    /* padding-bottom: 28px; */
    margin-bottom: 13px;
    display: inline-block;
    margin-left: 5px;
}
.B {
    width: 65%;
    height: 172px;
    background-color: snow;
    display: inline-block;
    margin-bottom: 14px;
    margin-left: 15px;
}
.ii {
    width: 50%;
    height: 75px;
    background-color: yellow;
    margin-top: 22px;
    margin-left: 27px;
}
.i {
    width: 50%;
    height: 75px;
    background-color: snow;
    /* display: inline-block; */
    margin-left: 27px;
    margin-top: 8px;
}
.C {
    width: 9%;
    height: 190px;
    display: inline-block;
}
/*
.a{
    background-color: white;
    width: 100%;
    height: 30%;
   margin-left: 2px;
    margin-top: 5px;
}
.b{
    background-color: white;
    width: 100%;
    height: 32%;
    margin-left: 2px;
    margin-top: 10px;
}
.c{
    background-color: cornflowerblue;
    width: 100%;
    height: 32%;
    margin-left: 2px;
    margin-top: 10px;
}
.second{
    width: 71.1%;
    height: 100%;
    display: inline-block;
}
.A{
    background-color: red;
    width: 96%;
    height: 64%;
    position: relative;
    bottom: 3px;
    left: 10px;
    bottom: 12px;
}
.B{
    width: 100%;
    height:35%;
    display: inline-block;
}
.B1{
    width: 80%;
    height: 91%;
    background-color:white;
    position: relative;
    left: 10px;
    bottom: 5px;
    display: inline-block; 
}
.B2{
    width: 18%;
    height: 100%;
    display: inline-block;
}
.i{
   /* margin-left: 5px;*/
    width: 50%;
    margin-top: 3px;
    height: 35%;
    background-color: white;
    position: relative;
    left: 25px;
    bottom: 34px;
    display: inline-block;
}
.ii{
    /*margin-left: 5px;*/
    margin-top: 2px;
    width: 50%;
    height: 35%;
    background-color: yellow;
    position: relative;
    left: 25px;
    bottom: 6px;
    display: inline-block;
}