.container {
    width: 430px;
    border: black solid 2px;
    margin: auto;
}
.RedCircle {
    width: 20px;
    height: 20px;
    background-color: red;
}
.VioletCircle {
    width: 18px;
    height: 18px;
    background-color: violet;
}
.GreenCircle {
    width: 14px;
    height: 14px;
    background-color: green;
}
.YellowCircle {
    width: 16px;
    height: 16px;
    background-color: yellow;
}
.BlueCircle {
    width: 18px;
    height: 18px;
    background-color:blue;
 }
 .RedCircle, .BlueCircle, .VioletCircle, .GreenCircle, .YellowCircle{
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 100%;
    margin-bottom: 50px;
    border: black solid 1px;
}

body {
    margin-top: 100px;
}