.container {
    width: 1000px;
    border: 2px black solid;
    margin: auto;
}
.header-area {
    width: 53%;
    margin: auto;
}
.root-image {
    display: inline-block;
    margin: 12px;
}
.search-bar-align {
    border-radius: 30%;
    display: inline-block;
}
h1 {
    display: inline-block;
    vertical-align: top;
}
.notification-bar {
    width: 27%;
    margin: auto;
}
.navigation-list {
    width: 59%;
    display: inline-block;
}
.search-bar {
    width: 28%;
    display: inline-block;
    margin-left: 54px;
}
.magnifying-glass {
    display: inline-block;
    margin-left: 8px;
    vertical-align: bottom;
}
.navigation-list-margin {
    margin-left: 10px;
    margin-right: 10px;
}
nav {
    width: 54%;
    margin-left: 45%;
}/*
.national-service-main-portal{
    width: 100%;
    border: 2px #000000 solid;
    margin: auto;
    margin-top: 50px;
}*/
.national-services {
    width: 53%;
    display: inline-block;
    border: 2px #000000 solid;
    margin: 10px;
    height: 575px;
    vertical-align: top;
}
b {
    margin-left: 150px;
}
.national-service-image {
    margin: auto;
    width: 90%;
    margin-top: 30px
}
.all-links {
    width: 68%;
    margin: auto;
    height: 210px;
    margin-top: 60px;
}
.link {
    width: 90%;
    margin: 20px;

}
.address {
    border: 2px #000000 solid;
    margin: 10px;
}
.address-details {
    width: 40%;
    display: inline-block;
    border: 2px #000000 solid;
    height: 583px;
    margin-bottom: 16px;
    vertical-align: top;
}
.facebook, .twitter, .youtube, .LinkedIn {
    border: 2px #000000 solid;
    width: 18%;
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 15px;
    padding: 12px;
}
h4 {
    margin-left: 65px;
}
.social-media {
    height: 333px;
    border: 2px #000000 solid;
    margin: 10px;
    margin-left: 10px;
    margin-top: 40px;
}
