.container {
    width: 1200px;
}
.header {
    width: 100%;
    background-color: #0000ff ;
    height: 180px;

}
a{
    text-decoration: none;
}
.searchEngine{
    width: 50%;
    display: inline-block;
    margin-left: 70px;
    vertical-align: 17px;

}
.helpCenter{
    width: 13%;
    display: inline-block;
    margin-top: 26px;
    margin-left: 100px;
    
}
.helpCenterText{
    vertical-align: 14px;
    margin-left: 18px;
}
.searchEngineBox{
    width: 360px;
    height: 35px;
    background-image: url(images/magnify.jpg);
    position: left;
    padding-left: 25px;
    background-size: 20px;
    background-repeat: no-repeat;
}
.returnToFacebookArea{
    margin-left: 15px;
    vertical-align: bottom;
    color: #000000;
}

.navigationBar{
    
    margin-top: 30px;
}

.questionsContent{
    width: 55%;
    display: inline-block;
}

.mainHeading{
    padding-top: 20px;
    padding-bottom: 20px;
}

.subHeading, .mainHeading{
    margin-left: 70px;
}
.communityImage{
    width: 26%;
    display: inline-block;
    margin: 111px;

}

.tableSetter{
    height: 350px;
    margin-left: 166px;
    border-collapse: collapse;
}

.questions-image{
    background-color: lightblue;
}

.subHeading{
    background-color: #0000ff;
    border-radius: 40px;
    padding: 4px;
    padding-left: 15px;
    color: #000000;
}

.text1, .text3{
    width: 65%;
}
.text4{
    width: 80%;
}
.text5{
    width: 50%;

}

.LookingForSomethingElseText{
    padding-top: 50px;
    width: 59%;
    margin: auto;
}

.VisitBusinessHelpCenter, .VisitHelpCommunity{
    display: inline-block;
    width: 18%;
    margin-left: 270px;
    margin-top: 30px;
}


.facebookNotation{
    width:15% ;
    display: inline-block;
    margin-left: 115px;
}
.footerButton{
    width: 56%;
    display: inline-block;
}

.footerButtonSelection{
    margin-left: 130px;
    
}

.footer{
    margin-top: 50px;
}
td{
    width: 222px;
}
.popularTopic{
    margin-left: 167px;
}
.tableImage{
    border-radius: 100%;
    margin: 20px;
}






.wideTextVisibility{
    float: left;
    width: 270px;
    opacity: .99;
    line-height: 29px;
    font-size: 15px;
    text-align: center;
    padding: 7px;
    background-color: white;
    color: #000000;

}





ul{
    margin: 0px;
    padding:0px;
    list-style: none;
    margin-left: 130px;

}

ul li{
    float: left;
    width: 96px;
    height: 17px;
    background-color: #0000ff;
    opacity: .99;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    padding: 20px;
}

ul li a{
    text-decoration: none;
    color:black;
    display: block;
}
ul li a:hover{
    background-color: yellowgreen;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}