.container {
    border: 5px orange solid;
    margin: auto;
    width: 65%;
    height: 100%;
}
.division-1 {
    margin-left: 8%;
    width: 100%;
    height: 25%;
}
.formGroup {
    margin-bottom: 2%;
    font-size: small;
}
.formLabel {
    width: 30%;
    display: inline-block;
}
.formLabel3 {
    width: 25%;
    display: inline-block;
    margin-left: 31%;
}
.horizontal {
    height:2px;
    background-color:red;
    width:800px;
    border-color:black; 
}
.division-01 {
    width: 100%;
    height: 25%;
    margin-left: 8%;
}
.section1 {
    width: 65%;
    height: 100%;
    display: inline-block;
    
}
.section2 {
    width: 34%;
    height: 100%;
    display: inline-block;
}
.formLabel0 {
    width: 47%;
    display: inline-block;
}