.container {
    width: 70%;
    height: 550px;
    margin: auto;
    border: 2px black solid;
}
.aside-div {
    width: 30%;
    height: 100%;
    background-color: cadetblue;
    display: inline-block;
}
.articles {
    width: 69.5%;
    height: 100%;
    display: inline-block;
    position: relative;
    bottom: 80px;
}
.article-1 {
    width: 100%;
    height: 50%;
    /*background-color: chocolate;*/
    position: relative;
    top: 15px;
}
.article-2 {
    width: 100%;
    height: 50%;
    /*background-color: crimson;*/
    position: relative;
    bottom: 3px;
}
.part1 {
    margin-bottom: 140%;
}
.title {
    width: 70%; 
    position: relative;
    top: 180px;
    left: 50px;   
}
.textButton {
    width: 60%;
    margin: auto;
    position: relative;
    bottom: 200px;
}
.author1Image {
    border-radius: 50%;
    margin-left: 85%;
}
.author2Image {
    border-radius: 50%;
    margin-left: 85%;
}
.author2Title {
    font-size: larger;
    font-size: x-large ;
}