.container {
    border: 2px solid black;
    width: 530px;
    margin: auto;
    background-color: cadetblue;
    height: 500px;
}

.areaSetting,.ColorAreaSetting {
    margin-left: 25px;
    width: 40%;
}

.formLabel0 {
    width: 35%;
    margin-left: 40px;
    display: inline-block;
}

.fNameDiv,.modelDiv, .lNameDiv, .emailDiv, .contactDiv, .carsDiv, .modelDiv, .yearDiv, .colorDiv, .problemDiv {
    margin-top: 10px;
}

.buttonSetting {
    margin-left: 165px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ColorAreaSetting {
    margin-left: 255px;
    margin-top: 15px;
}