.container {
    border: 2px black solid;
    background-color: aqua;
    width: 1000px;
    margin: auto;
}
.image-adj {
    width: 35%;
    display: inline-block;
    height: 222px;
}
.footer {
    width: 85%;
    margin: 45px;
}
.description {
    width: 55%;
    display: inline-block;
    margin: 40px;
}
.main-content {
    width: 100%;
    display: inline-block;
    /* margin-left: 20px; */
    background-color: mediumslateblue
}
ul {
    margin: auto;
}
.header {
    width: 100%;
    margin-left: 180px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
}
.image {
    margin-left: 25px;
}
ul {
    margin: 0px;
    padding:0px;
    list-style: none;
}
ul li {
    float: left;
    width: 90px;
    height: 20px;
    background-color:aqua;
    opacity: .99;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
ul li a {
    text-decoration: none;
    color:black;
    display: block;
}
ul li a:hover {
    background-color: yellowgreen;
}
ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}