.garageInfo {
    color: seagreen;
    margin-left: 30%;
}
.personDetails {
    margin: 50px;
}
.container {
    margin: auto;
    border: mediumblue solid;
    margin: 10%;
}
.itemForSaleHeading {
    color: red;
    padding-left: 45%;
}
.listedItems {
    margin-left: 40%;
    display: inline-block;
    margin-bottom: 10px;
}